@import url("theme.css");

.wy-side-nav-search {
	background-image: url(../logo.png);
	background-repeat: no-repeat;
	background-position: center 110px;
	min-height: 350px;
}

.shift .wy-side-nav-search {
	min-height: initial;
}
